<h1 class="text-center jumbotron display-1">Eat Da Burger!</h1>

<main class="container">
    <section class="row">
        <section class="col-6">
            <h2 class="text-center">Burgers For Eating</h2>
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                <span>
                    <li class="form-control mb-3 p-0 text-center"> {{this.burger_name}}
                        <button class="btn btn-primary col-4 float-right eat-burger" data-id="{{this.id}}">Eat</button> </li>
                </span>
                {{/unless}}
                {{/each}}
            </ul>
        </section>
        <section class="col-6">
            <h2 class="text-center">Eaten Burgers</h2>
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                <li class="form-control mb-3 p-0 text-center">{{this.burger_name}}
                    <button class="btn btn-secondary col-4 float-right digest-burger" data-id="{{this.id}}">Delete</button> </li>
                {{/if}}
                {{/each}}
            </ul>
        </section>
    </section>
    <section class="row">
        <section class="col-12">
            <h2 class="text-center">Add A Burger Menu?</h2>
            <input id="burger-name" class="rounded input-group mb-2" type="text">
            <button id="submitBtn" type="submit" class="rounded btn btn-primary float-right">Add A Burger</button>
        </section>
    </section>

</main>